AsyncAwaitWebUI/Connected Services/SaleOrderProxyService/SaleOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SaleOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58033/Services/SaleOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58033/Services/SaleOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58033/Services/SaleOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsyncAwaitService.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISaleOrderService_GetSaleOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrders" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetSaleOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetSaleOrdersTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrdersTask" />
  </wsdl:message>
  <wsdl:message name="ISaleOrderService_GetSaleOrdersTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleOrdersTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="ISaleOrderService">
    <wsdl:operation name="GetSaleOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrders" message="tns:ISaleOrderService_GetSaleOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrdersResponse" message="tns:ISaleOrderService_GetSaleOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleOrdersTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrdersTask" message="tns:ISaleOrderService_GetSaleOrdersTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISaleOrderService/GetSaleOrdersTaskResponse" message="tns:ISaleOrderService_GetSaleOrdersTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpAdventureWorksServices" type="tns:ISaleOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSaleOrders">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/GetSaleOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleOrdersTask">
      <soap:operation soapAction="http://tempuri.org/ISaleOrderService/GetSaleOrdersTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleOrderService">
    <wsdl:port name="httpAdventureWorksServices" binding="tns:httpAdventureWorksServices">
      <soap:address location="http://localhost:58033/Services/SaleOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>