AsyncAwaitWebUI/Connected Services/SaleOrderProxyService/SaleOrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58033/Services/SaleOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AsyncAwaitService.Service" />
  <xs:element name="GetSaleOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AsyncAwaitService.Service" minOccurs="0" name="GetSaleOrdersResult" nillable="true" type="q1:ArrayOfSaleOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleOrdersTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleOrdersTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AsyncAwaitService.Service" minOccurs="0" name="GetSaleOrdersTaskResult" nillable="true" type="q2:ArrayOfSaleOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>